
<!-- <mat-table #table [dataSource]="currency">

    <ng-container matColumnDef="ccy">
      <mat-header-cell *matHeaderCellDef> Ccy </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.ccy }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="buy">
      <mat-header-cell *matHeaderCellDef> Buy </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.buy }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sale">
        <mat-header-cell *matHeaderCellDef> Sale </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.sale }} </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table> -->

<table cellspacing="0" matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="ccy">Ccy</th>
      <th mat-sort-header="buy">Buy</th>
      <th mat-sort-header="sale">Sale</th>
    </tr>
  
    <tr *ngFor="let ccy of sortedData">
      <td>{{ ccy.ccy }}</td>
      <td>{{ ccy.buy }}</td>
      <td>{{ ccy.sale }}</td>
    </tr>
  </table>



