
<div class="about-wrapper">
    <div class="about-container" fxLayout="column" fxLayoutAlign="center">
        <div fxFlex="15%" fxLayoutAlign="center center">
            <p class="welcome-text">Hello! My name is Den!</p>
        </div>
        <div fxFlex
             fxLayout="row" 
             fxLayout.sm="column" 
             fxLayout.xs="column"
             fxLayoutAlign="center"
             fxLayoutAlign.sm="center"
             fxLayoutGap.sm="2%"
             fxLayoutGap.xs="1%"
             >
            <div fxLayout="row"
                 fxLayoutAlign="center"
                 fxLayoutGap="2%"
                 >
                <div fxFlex="30%">
                    <a mat-button (click)="openDialog($event.target.src)" matTooltip="work 1"><img mat-card-image class="img" src="../../../assets/img/work1.jpg" alt=""></a>
                </div>
                <div fxFlex="30%">
                    <a mat-button (click)="openDialog($event.target.src)" matTooltip="work 2"><img mat-card-image class="img" src="../../../assets/img/work2.jpg" alt=""></a>
                </div>
                <div fxFlex="30%">
                    <a mat-button (click)="openDialog($event.target.src)" matTooltip="work 3"><img mat-card-image class="img" src="../../../assets/img/work3.jpg" alt=""></a>
                </div>                   
            </div>
            <div fxLayout="row"
                 fxLayoutAlign="center"
                 fxLayoutGap="2%"
                 >
                <div fxFlex="30%">
                    <a mat-button (click)="openDialog($event.target.src)" matTooltip="work 4"><img mat-card-image class="img" src="../../../assets/img/work4.jpg" alt=""></a>
                </div>
                <div fxFlex="30%">
                    <a mat-button (click)="openDialog($event.target.src)" matTooltip="work 5"><img mat-card-image class="img" src="../../../assets/img/work6.jpg" alt=""></a>
                </div>
                <div fxFlex="30%">
                    <a mat-button (click)="openDialog($event.target.src)" matTooltip="work 6"><img mat-card-image class="img" src="../../../assets/img/work-final.jpg" alt=""></a>
                </div> 
            </div>
        </div>
    </div>
    <div id="about">
            <slideshow  [imageUrls]="imageUrlArray"
                        [height]="height"
                        [minHeight]="'525px'"
                        [autoPlay]="true"
                        [autoPlayInterval]="7000"
                        [showDots]="true">
            </slideshow>  
    </div>
    <mat-spinner style="top: 30%; left: 45%; position: absolute;z-index: 1001;" *ngIf="wait"></mat-spinner>
</div>