<div class="about-wrapper" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutAlign="center" fxLayoutAlign.gt-sm="center center">
  <div class="container-1" fxFlex="45%" fxLayout="column" fxLayoutAlign="space-around">
    <div fxLayoutAlign="center">
      <p>Here are some my projects</p>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
      <div fxFlex="30%">
        <a href=""><img mat-card-image class="img" src="../../../assets/img/work1.jpg" alt=""></a>
      </div>
      <div fxFlex="30%">
          <a href=""><img mat-card-image class="img" src="../../../assets/img/work2.jpg" alt=""></a>
      </div>
      <div fxFlex="30%">
          <a href=""><img mat-card-image class="img" src="../../../assets/img/work3.jpg" alt=""></a>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center" fxLayoutAlign.xs="center center">
      <div fxFlex="30%"  fxLayoutAlign.sm="center">
          <a href=""><img mat-card-image class="img" src="../../../assets/img/work4.jpg" alt=""></a>
      </div>
      <div fxFlex="30%" fxLayoutAlign.sm="center">
          <a href=""><img mat-card-image class="img" src="../../../assets/img/work6.jpg" alt=""></a>
      </div>
      <div fxFlex="30%" fxLayoutAlign.sm="center">
          <a href=""><img mat-card-image class="img" src="../../../assets/img/bg-contacts.jpg" alt=""></a>
      </div>
    </div>
  </div>

  <div class="container-2" fxFlex="45%" fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
    <div fxFlex.sm="50%">
      <p>Hello, My name is Den . Since I was a kid, most of my time I've spent by my computer, 
        so a part of me couldn't imagine there's anything more awesome. 
        In web development all the same: some things are best to be seen, 
        created and keept by yourself constantly
      </p>
    </div>
  </div>
</div>